/* ------------------------------------------------------------------
Project: Semantic
Place here your custom CSS styles
------------------------------------------------------------------ */

.btn-primary {
	background-color:#a7956e; 
	border: none; 

	}
	
.btn.btn-lg {
	font-weight: bold; 
	font-size: 16px;
	}